@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 50;
  -webkit-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 850px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
  }
}

.header__logo img {
  max-width: 80px;
  padding: 15px 0px;
}

@media (max-width: 850px) {
  .header__call {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.header__call a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: .14286rem;
}

@media (max-width: 360px) {
  .header__call a {
    font-size: 15px;
  }
}

.header__call a h5 {
  margin-bottom: 5px;
  font-weight: 400;
}

.header__call a h6 {
  font-weight: 400;
}

.header__dropdownbtn {
  display: none;
}

@media (max-width: 1000px) {
  .header__dropdownbtn {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
  }
}

.header__burger {
  position: relative;
  background-color: transparent;
  outline: none;
  width: 30px;
  height: 20px;
  border: none;
  padding: 0;
  float: right;
}

.header__burger span {
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger :nth-child(1) {
  top: 0;
}

.header__burger :nth-child(2) {
  top: 8px;
}

.header__burger :nth-child(3) {
  bottom: 2px;
}

@media (max-width: 1000px) {
  .header__menu {
    display: none;
  }
}

.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media (max-width: 1000px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0 10px 0;
  }
}

.header__item {
  margin: 0 15px 0 0;
  font-size: 20px;
  letter-spacing: .14286rem;
}

.header__item a {
  text-decoration: none;
  color: #fff;
}

.header__item a:hover {
  color: #777777;
}

@media (max-width: 1000px) {
  .header__item {
    margin: 0 0 20px 0;
  }
}

.header__item_active a {
  color: #777777;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1130px) {
  .container {
    width: 90%;
  }
}

.active > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8.8px;
}

.active > span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.active > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8.8px;
}

.active > span {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background: url("../img/backfon.jpg") 53% 32% no-repeat;
  background-size: 135%;
}

@media (max-width: 1366px) {
  .main-page {
    background-size: 180%;
    background-position: 45% 0%;
  }
}

@media (max-width: 1000px) {
  .main-page {
    background-size: 150%;
    background-position: 30% 20%;
  }
}

@media (max-width: 800px) {
  .main-page {
    background-size: 200%;
    background-position: 33% 0%;
  }
}

@media (max-width: 500px) {
  .main-page {
    background-size: 284%;
  }
}

@media (max-width: 280px) {
  .main-page {
    background-size: 360%;
  }
}

@media (max-width: 376px) and (min-height: 812px) {
  .main-page {
    background-size: 339%;
    background-position: 34% 0%;
  }
}

.main-page__window-main {
  width: 50%;
  background-color: rgba(51, 51, 51, 0.9);
}

@media (max-width: 1000px) {
  .main-page__window-main {
    width: 80%;
  }
}

@media (min-width: 568px) and (min-height: 320px) and (max-width: 812px) and (max-height: 414px) {
  .main-page__window-main {
    position: relative;
    top: 50px;
  }
}

@media (min-width: 736px) and (min-height: 414px) and (max-width: 737px) and (max-height: 415px) {
  .main-page__window-main {
    margin: 35px 0 0 0;
  }
}

@media (max-width: 320px) {
  .main-page__window-main {
    position: relative;
    top: 50px;
  }
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px;
  border: solid 1.5px #605c5a;
  padding: 65px;
}

@media (max-width: 1000px) {
  .main-page__container {
    padding: 30px;
  }
}

@media (min-width: 568px) and (min-height: 320px) and (max-width: 812px) and (max-height: 414px) {
  .main-page__container {
    padding: 20px;
  }
}

.main-page__container h1, .main-page__container h2, .main-page__container h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-weight: 400;
  text-shadow: #000 2px 4px 3px;
}

.main-page__container h1 {
  font-size: 36px;
}

.main-page__container h2 {
  font-size: 22px;
}

.main-page__container h3 {
  font-size: 16px;
}

.main-page__container a {
  padding: 10px;
  border: solid 1px #fff;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.main-page__container a:hover {
  color: #555;
  background-color: #fff;
}

@media (min-width: 568px) and (min-height: 320px) and (max-width: 824px) and (max-height: 415px) {
  .main-page__container h1, .main-page__container h2, .main-page__container h3 {
    margin-bottom: 12px;
  }
  .main-page__container h1 {
    font-size: 24px;
  }
  .main-page__container h2 {
    font-size: 14px;
  }
  .main-page__container h3 {
    font-size: 12px;
  }
  .main-page__container a {
    padding: 6px;
    font-size: 12px;
  }
}

.about-us {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-us__container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .about-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-us__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 70px;
}

.about-us__title h1, .about-us__title h2 {
  font-family: 'Arial', serif;
}

.about-us__title h1 {
  margin-bottom: 14px;
  font-size: 74px;
  font-weight: 600;
}

.about-us__title h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 2.5rem;
}

@media (max-width: 1000px) {
  .about-us__title {
    padding: 0;
    margin-bottom: 30px;
  }
  .about-us__title h1 {
    font-size: 50px;
  }
  .about-us__title h2 {
    font-size: 30px;
    line-height: 1em;
  }
}

.about-us__text h2, .about-us__text p {
  font-family: 'Arial', serif;
}

.about-us__text h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.about-us__text p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5rem;
}

@media (max-width: 1000px) {
  .about-us__text h2 {
    font-size: 20px;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .services__container {
    width: 90%;
  }
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-top: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

@media (max-width: 560px) {
  .services__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.services__icon {
  margin-right: 30px;
  height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__icon img {
  max-width: 50px;
}

@media (max-width: 1250px) {
  .services__icon {
    margin-right: 15px;
  }
}

.services__text {
  margin-right: 0px;
}

@media (max-width: 415px) {
  .services__text {
    margin: 0;
  }
}

.services__text h3 {
  color: #333333;
  font-weight: 700;
}

.services__text p {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  line-height: 1.5em;
  font-size: 14px;
}

.instruments img {
  max-width: 45px;
  max-height: 45px;
}

.car img {
  max-width: 48px;
  max-height: 48px;
}

.us-working {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

@media (max-width: 767px) {
  .us-working {
    margin: 50px 0;
  }
}

.us-working__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .us-working__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.us-working__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.us-working__title h1 {
  font-size: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
}

.us-working__title span {
  display: block;
  height: 10px;
  width: 70px;
  background-color: black;
}

.us-working__title p {
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}

@media (max-width: 1325px) {
  .us-working__title {
    margin-bottom: 40px;
  }
}

.us-working__slider {
  min-width: 0;
  position: relative;
}

.us-working__slider button::before, .us-working__slider button::after {
  content: "";
  position: absolute;
  left: 30%;
  width: 30%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.7s background-color;
  transition: 0.7s background-color;
}

.us-working__slider button {
  -webkit-transition: 0.7s background-color;
  transition: 0.7s background-color;
}

.us-working__slider :nth-child(1)::before {
  top: 11.3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.us-working__slider :nth-child(1)::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 11.3px;
}

.us-working__slider :nth-child(3)::before {
  top: 11.3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.us-working__slider :nth-child(3)::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11.3px;
}

.us-working__slider button:hover:before, .us-working__slider button:hover:after {
  background-color: #000;
}

.us-working__slider button:hover {
  background-color: #727272;
}

.us-working__slide-item {
  position: relative;
  margin-top: 4px;
  display: inline-block;
  overflow: hidden;
}

.us-working__slide-item span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.0;
  top: 0;
  left: 0;
  background-color: #202020;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

@media (max-width: 1250px) {
  .us-working__slide-item span {
    padding: 10px;
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .us-working__slide-item span {
    padding: 15px;
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .us-working__slide-item span {
    padding: 10px;
    font-size: 8px;
  }
}

.us-working__slide-item img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  width: 100%;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
.slick-slide {
  padding: 0 5px;
  outline: none;
}

.slick-slide :hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slick-slide :hover span {
  opacity: 0.8;
  z-index: 1;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  background-color: #333333;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  border: none;
  outline: none;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
}

.slick-arrow.slick-next button::after, .slick-arrow.slick-next button::before {
  content: "";
  position: absolute;
  left: 30%;
  width: 30%;
  height: 1px;
  background-color: red;
}

.slick-arrow.slick-next > button::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 11.3px;
}

.slick-arrow.slick-next > button::before {
  top: 11.3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.price {
  margin-bottom: 100px;
}

.price__container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 850px) {
  .price__container {
    width: 90%;
  }
}

.price__title h1 {
  font-size: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
}

.price__title span {
  display: block;
  height: 10px;
  width: 70px;
  background-color: black;
}

@media (max-width: 1325px) {
  .price__title {
    margin-bottom: 40px;
  }
}

.price__table {
  width: 70%;
  border: solid 2px #6fd2f9;
  border-spacing: 0;
}

@media (max-width: 1325px) {
  .price__table {
    width: 100%;
  }
}

.price__table-body tr {
  background-color: rgba(51, 51, 51, 0.2);
}

.price__table-body tr:nth-child(2n) {
  background-color: #fff;
}

.price__table-body td {
  padding: 5px 10px;
}

@media (max-width: 850px) {
  .price__table-body td {
    padding: 5px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.contacts__address {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

@media (max-width: 812px) {
  .contacts__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 450px) {
  .contacts__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.contacts__icon img {
  width: 40px;
}

.contacts__text {
  width: 100%;
  margin-top: 20px;
}

.contacts__text p {
  text-transform: uppercase;
}

.contacts__text h5 {
  padding-top: 10px;
  font-size: 14px;
}

.contacts__text h5 a {
  text-decoration: none;
  color: #000;
}

.contacts__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__social-networks a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
}

.contacts__telegramm {
  background-color: #0088cc;
}

.contacts__instagramm {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.contacts__instagramm img {
  max-width: 17.5px !important;
  max-height: 17.5px !important;
}

.contacts__facebook {
  background-color: #3b5998;
}

.phone {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

@media (max-width: 812px) {
  .phone {
    border-right: none;
  }
}

@media (max-width: 450px) {
  .phone {
    border-left: none;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }
}

#map-address {
  cursor: pointer;
}

.social {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 63px;
  }
}

.social img {
  max-width: 20px;
}

#popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: rgba(51, 51, 51, 0.9);
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -12%;
  z-index: -100;
  padding: 15px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

@media (max-width: 1024px) {
  #popup {
    margin-top: -30%;
    margin-left: -35%;
    width: 70%;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #popup {
    margin-top: -8.1%;
  }
}

@media (max-width: 450px) {
  #popup {
    width: 80%;
    height: 70%;
    margin-left: -40%;
    margin-top: -50%;
  }
}

@media (max-width: 376px) and (min-height: 812px) {
  #popup {
    margin-top: -65%;
  }
}

.popup__close {
  color: #fff;
  text-align: end;
}

.popup__close a {
  cursor: pointer;
}

.popup__content {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup-img {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-img__background {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup-img img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .popup-img img {
    max-width: 90%;
  }
}

.popup-img p {
  color: #ffffff;
  z-index: 1;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}
